# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Yarn (Zero-Installs)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Env files
.env*
!.env.example
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/config/index.html
coverage/lcov-report/config/index.ts.html
coverage/lcov-report/features/coffee-brewing/store/index.html
coverage/lcov-report/features/coffee-brewing/store/index.ts.html
coverage/lcov-report/features/coffee-brewing/store/coffee-machine/coffeeMachineApiSlice.ts.html
coverage/lcov-report/features/coffee-brewing/store/coffee-machine/entities.ts.html
coverage/lcov-report/features/coffee-brewing/store/coffee-machine/index.html
coverage/lcov-report/features/coffee-brewing/store/coffee-machine/index.ts.html
coverage/lcov-report/features/coffee-brewing/store/coffee-machine/withCustomId.ts.html
coverage/lcov-report/features/coffee-brewing/store/coffee-selection/coffeeSelectionSlice.ts.html
coverage/lcov-report/features/coffee-brewing/store/coffee-selection/index.html
coverage/lcov-report/features/coffee-brewing/store/coffee-selection/index.ts.html
coverage/lcov-report/store/index.html
coverage/lcov-report/store/setupStore.ts.html
